/*General*/
body {
    margin: 0px;
    font-family: 'Cabin', sans-serif;
}

li {
    list-style: none;
}

a {
    color: black;
    text-decoration: none;
}

a:hover {
    color: #BA7B0C;
}

/*Main*/
main {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
}

/*Nav*/
nav {
    position: fixed;
    width: 100%;
    z-index: 10;
    top: 0px;
    font-size: 18px;
    background-color: rgba(255, 255, 255, 0.8);
}

#nav-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    padding: 0px;
    list-style: none;
}

/*Header*/
header {
    width: 100%;
    height: 600px;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

#comm-logo {
    width: 100%;
    height: 100%;
    max-width: 65%;
    max-height: 65%;
}

/*About*/
#about {
    width: 100%;
    height: 100%;
    padding-bottom: 25px;
    background-color: #BA7B0C;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.about-header {
    font-size: 50px;
}

#about-paragraph-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

#greider-img {
    width: 340px;
    height: auto;
}

#about-par {
    width: 320px;
    padding-left: 20px;
}

/*Classes*/
.class-header {
    font-size: 50px;
    text-align: center;
}

.instruction-header {
    text-align: center;
    font-size: 30px;
    padding-bottom: 30px;
}

#classes {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.class-image {
    position: flex;
    width: 100%;
    max-width: 600px;
    padding-bottom: 20px;
}

/*Calendar*/
#calendar {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;

}

#calendar h1,
#calendar h3,
#calendar p {
    text-align: center;
    padding: 0px 10px;
    max-width: 850px;
}

#calendar h1 {
    margin: 0px;
}

#calendar h3 {
    margin-top: 0px;
}

#calendar iframe {
    height: 85vh;
    min-height: 450px;
    max-height: 800px;
    width: 85vw;
    max-width: 1250px;
}

#cal-mobile {
    display: none;
}

/*artwork*/
.art-header {
    font-size: 50px;
    text-align: center;
}

#studentartwork {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}
.artwork-description {
    font-size: 12px;
    text-align: center;
    margin-top: -10px;
    margin-bottom: 20px;
}


/*Footer*/
footer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    height: 100%;
    background-color: black;
    margin-top: 50px;
    padding-top: 25px;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: distribute;
    justify-content: space-around;
}

#foot-image-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    min-width: 50%;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

#bottom-nav {
    list-style: none;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    min-width: 200px;
    color: white;
}

footer > ul > li > a {
    color: white;
}

#bottom-nav > ul > li > a {
    color: white;
}

/*Start of small screen media query*/
@media (max-width: 700px) {

    /*Header*/
    header {
        height: 400px;
    }

    #comm-logo {
        max-width: 75%;
        max-height: 75%;
    }

    /*About*/
    .about-header {
        font-size: 50px;
    }

    #about-paragraph-container {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
    }

    #about-par {
        width: 300px;
        text-align: center;
        padding-left: 0px;
    }

    /*Calendar*/
    #cal-desktop {
        display: none;
    }

    #cal-mobile {
        display: block;
    }

    /*Footer*/
    footer {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        padding-top: 0px;
    }

    #bottom-image {
        margin-top: 50px;
    }

    #bottom-nav {
        -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
        order: 1;
        margin-top: 25px;
    }

}
