h2{
    color: rgb(117,91,116);
    font-family: 'Montserrat', sans-serif;
    font-size: 3.5em;
    width: 50%;
    letter-spacing: 2px;
}

.raiser .image{
    height: 700px;
    width: 700px;
}

p{
    font-family: 'Montserrat', sans-serif;
    font-size: 2em;
    width: 70%;
    line-height: 1.5em;
    text-align: justify;
}
